<footer>
    <div class="container">
        <div class="footerc">
            <h3>
                Copyright © {{ curr_year }}. All rights are reserved
            </h3>
            <div class="footerc__socials">
                <a
                  aria-label="github"
                  target="_blank"
                  rel="noreferrer"
                  href="https://github.com/EzharAnsari"
                  >
                  <fa-icon [icon]="github_icon" width="30" height="30" />
                </a>
                <a
                  aria-label="linkedin"
                  target="_blank"
                  rel="noreferrer"
                  href="https://www.linkedin.com/in/md-ezhar-ansari-42b441151/"
                  >
                  <fa-icon [icon]="linkdin_icon" width="30" height="30" />
                </a>
              </div>
        </div>
    </div>
</footer>