<section class="about" id="about">
    <div class="container">
        <div class="about-content">
            <div class="img-side">
                <img src="./assets/images/working-emoji.png" alt="emoji" class="work-emoji">
                <img src="./assets/images/about-img.webp" alt="me" class="img-side__main-img">
                <span>
                    <img src="./assets/images/text.svg" alt="text">
                </span>
            </div>
            <div class="text-side">
                <h3>About me</h3>
                <h4>
                    Full-Stack Developer <br /> based in Kolkata, India 📍
                </h4>
                <p>
                    Hey, my name is Ezhar, and I'm a Full Stack Developer who builds web applications using Angular for the front-end and .NET and Node.js for the back-end.
                    <br />
                    <br />
                    I focus on creating efficient, easy-to-use apps that meet both user and business needs 🚀.
                </p>
            </div>
        </div>
    </div>
</section>